<%= form_for @grade do |f| %>
  <div class="row justify-content-center text-sm-center text-start">
    <%= render 'grades/error_messages', model: f.object %>

    <div class="col-sm"></div>

    <div class="col-sm col-8 form-group text-sm-center text-end">
        <%= f.label "A+" %>
        <%= f.number_field :AA, class: 'form-control' %>
    </div>

    <div class="col-sm col-8 form-group text-sm-center text-end">
        <%= f.label "A" %>
        <%= f.number_field :A, class: 'form-control' %>
    </div>

    <div class="col-sm col-8 form-group text-sm-center text-end">
        <%= f.label "B" %>
        <%= f.number_field :B, class: 'form-control' %>
    </div>

    <div class="col-sm col-8 form-group text-sm-center text-end">
        <%= f.label "C" %>
        <%= f.number_field :C, class: 'form-control' %>
    </div>

    <div class="col-sm col-8 form-group text-sm-center text-end">
        <%= f.label "D" %>
        <%= f.number_field :D, class: 'form-control' %>
    </div>

    <div class="col-sm col-8 form-group text-sm-center text-end">
        <%= f.label "F" %>
        <%= f.number_field :F, class: 'form-control' %>
    </div>

    <div class="col-sm"></div>
  </div>

  <div class="row m-t justify-content-sm-center">
    <div class="col-sm-3"></div>
    <div class="col-sm-6 form-group">
      <%= f.submit "提出", class: 'btn btn-outline-primary btn-lg btn-block my-2' %>
    </div>
    <div class="col-sm-3"></div>
  </div>

<% end %>
