<div class="container">
<%= form_for @grade do |f| %>
  <%= render 'grades/error_messages', model: f.object %>
  <div class="row text-center justify-content-md-center">
    <div class="row col-1">
      <div class="form-group">
        <%= f.label "A+" %>
        <%= f.number_field :AA, class: 'form-control' %>
      </div>
    </div>
    <div class="row col-1">
      <div class="form-group">
        <%= f.label "A" %>
        <%= f.number_field :A, class: 'form-control' %>
      </div>
    </div>
    <div class="row col-1">
      <div class="form-group">
        <%= f.label "B" %>
        <%= f.number_field :B, class: 'form-control' %>
      </div>
    </div>
    <div class="row col-1">
      <div class="form-group">
        <%= f.label "C" %>
        <%= f.number_field :C, class: 'form-control' %>
      </div>
    </div>
    <div class="row col-1">
      <div class="form-group">
        <%= f.label "D" %>
        <%= f.number_field :D, class: 'form-control' %>
      </div>
    </div>
    <div class="row col-1">
      <div class="form-group">
        <%= f.label "F" %>
        <%= f.number_field :F, class: 'form-control' %>
      </div>
    </div>
  </div>
  <div class="row text-center justify-content-md-center">
    <div class="col">
        <div class="form-group">
        <%= f.submit "提出", class: 'btn btn-primary' %>
        </div>
    </div>
  </div>
<% end %>
</div>