<%= render 'layouts/flash_messages' %>
<div class="center jumbotron">
    <h1>Welcome to the Sample App</h1>

    <h2>
        This is the home page for the
        <a href="heeps://railstutorial.jp/">Ruby on Rails Tutorial</a>>
        sample application.
    </h2>
</div>

<div class="container">
    <% @grades.each do |grade|  %>
        <div class="row">
            <div class="col-sm" >name | <%= user_name_is? grade %></div>
            <div class="col-sm" >A+ | <%= grade.AA %></div>
            <div class="col-sm" >A  | <%= grade.A %></div>
            <div class="col-sm" >B  | <%= grade.B %></div>
            <div class="col-sm" >C  | <%= grade.C %></div>
            <div class="col-sm" >D  | <%= grade.D %></div>
            <div class="col-sm" >F  | <%= grade.F %></div>
            <div class="col-sm" >GPA  | <%= grade.GPA %></div>
        </div>
    <% end %>
</div>

