電気回路基礎論  1前 2

電気電子回路 1後 2
電気電子工学概論 1後 2

物性・デバイス基礎論       2前 2
電気電子プログラミング及演習 2前 2
電気電子回路演習 2前 2
論理回路 2前 2
電気電子工学実験 2前 2
電子回路 2前 2

計算機工学 2後 2
情報理論 2後 2
半導体工学 2後 2
電磁気学１ 2後 2
電気電子工学基礎実験 2後 2
電気電子数学1 2後 2
電気電子計測 2後 2

パワーエレクトロニクス     3前 2
電磁気学２               3前 2
電気機器基礎論            3前 2
自動制御工学              3前 2
計算機ソフトウェア        3前 2
電気回路                3前 2
通信基礎論               3前 2
固体電子工学             3前 2
電気電子数学２            3前 2
電気電子工学のための量子論  3前 2
真空電子工学 3前 2
ディジタル回路 3前 2

電力システム工学 3後 2
通信ネットワーク 3後 2
電波工学 3後 2
ディジタル信号処理 3後 2
応用電気機器 3後 2
生体工学の基礎 3後 2
光工学１ 3後 2
システム最適化 3後 2
ディジタル制御 3後 2
電子物性工学 3後 2
組み込み計算機システム 3後 2
情報伝送工学 3後 2
電気電子材料学 3後 2
メカトロニクス入門 3後 2
電気電子計算工学及演習 3後 3
機械学習 3後 2
グラフ理論（電気電子） 3後 2
プラズマ工学 3後 2
電気電子工学実習 3後 2

光工学２                 4前 2
応用電力工学              4前 2
光電子デバイス工学         4前 2
生体医療工学              4前 2
マイクロ波工学            4前 2
情報通信工学             4前 2
電気伝導                 4前 2
光通信工学 4前 2
アンテナ・伝搬工学 4前 2
工学倫理 4前 2
集積回路工学 4前 2




工学序論 1前集中 1
電気法規 3前集中 2
電波法規 4後集中 2


  <div class="col-md-1">
    <label for="validationCustom01" class="form-label">A</label>
    <input type="number" class="form-control" id="validationCustom01" value ="" required>
  </div>
  <div class="col-md-1">
    <label for="validationCustom01" class="form-label">B</label>
    <input type="number" class="form-control" id="validationCustom01" value ="" required>
  </div>
  <div class="col-md-1">
    <label for="validationCustom01" class="form-label">C</label>
    <input type="number" class="form-control" id="validationCustom01" value ="" required>
  </div>
  <div class="col-md-1">
    <label for="validationCustom01" class="form-label">D</label>
    <input type="number" class="form-control" id="validationCustom01" value ="" required>
  </div>
  <div class="col-md-1">
    <label for="validationCustom01" class="form-label">E</label>
    <input type="number" class="form-control" id="validationCustom01" value ="" required>
  </div>
  <div class="col-md-1">
    <label for="validationCustom01" class="form-label">F</label>
    <input type="number" class="form-control" id="validationCustom01" value ="" required>
  </div>


<%= form_for @grade , url: grade_path do |f| %>
<form class="row g-3 needs-validation" novalidate>
  <% f.fields_for :score do |s| %>
    <div class="col-md-1">
      <%= s.label :AA %>
      <%= s.text_field :AA %>
    </div>
    <div class="col-md-1">
      <%= s.label :A %>
      <%= s.text_field :A %>
    </div>
  <% end %>

  <div class="col-12">
    <%= f.submit "送信" %>
    <button type="submit" class="btn btn-primary">送信</button>
  </div>
</form>
<% end %>