<header>
  <nav class="navbar navbar-expand-sm navbar-dark fixed-top bg-dark" aria-label="Third navbar example">
    <div class="container-fluid">
      <a class="navbar-brand text-center px-5 mx-5" href='/' id="logo">Kuee Lab Ranking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse col-9" id="navbarsExample03">
        <ul class="navbar-nav me-auto mb-2 mb-sm-0 my-text text-center">
          <li class="nav-item">
              <%= link_to 'トップ', root_path, class: 'nav-link active' %>
          </li>
          <% if user_signed_in? %>
            <% if is_registered_grades? %>
            <li class="nav-item">
                <%= link_to '成績編集', edit_grade_path(@grade[:id]), class: 'nav-link active' %>
            </li>
            <% else %>
            <li class="nav-item">
                <%= link_to '成績入力', new_grade_path, class: 'nav-link active' %>
            </li>
            <% end %>
            <li class="nav-item">
                <%= link_to 'アカウント編集', edit_user_registration_path, class: 'nav-link active' %>
            </li>
            <li class="nav-item">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: 'nav-link active' %>
            </li>
          <% else %>
            <li class="nav-item">
                <%= link_to "新規登録", new_user_registration_path, class: 'nav-link active' %>
            </li>
            <li class="nav-item">
                <%= link_to "ログイン", new_user_session_path, class: 'nav-link active' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>